.call-section {
	line-height: 24px;
	text-align: center;
	padding: 51px 0 45px;
	h2 {
		font-size: 36px;
	}
	p {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 45px;
	}
}
.call-section__button {
	color: #fff;
	background-color: #ff5151;
	font-size: 16px;
	padding: 13px 19px;
}