.qualities {
	background: $accent-color-2 url('../img/qualities-bg.png');
	background-repeat: no-repeat;
	background-position: right 135%;
	color: #fff;
	padding-top: 166px;
	padding-bottom: 73px;
}
.qualities__list {
	margin: 0;
	padding: 0;
}
.qualities__item {
	list-style-type: none;
	line-height: 22px;
	margin-left: 90px;
	margin-bottom: 35px;
	max-width: 480px;
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 50px;
		height: 2px;
		background-color: $accent-color;
		position: absolute;
		top: -7px;
		left: 0;
	}
}
.qualities__header {
	margin-top: 83px;
	margin-left: 43px;
	h2 {
		font-size: 80px;
		line-height: 100px;
		margin-bottom: 56px;
	}
}