.specialists {
	padding-top: 85px;
	padding-bottom: 115px;
	h2 {
		text-align: center;
		font-size: 36px;
		margin-bottom: 60px;
	}
}
.specialists__container {
	max-width: 300px;
	text-align: center;
	h3 {
		font-size: 22px;
		font-weight: 700;
		line-height: 27px;
		margin-top: 37px;
		margin-bottom: 9px;
		min-height: 54px;
	}
	p {
		line-height: 22px;
	}
}