section.call-section
    .container
        .row
            .col
                h2 Chcesz wiedziedzieć więcej?
                p Odwiedź nasze centrum pomocy lub zadzwoń
                a(href='tel:+48567365485').button_red.call-section__button Call +48 567 365 485