section.main-section
    .container
        .row
            .col.main-section__container
                h1 Znajdź opiekuna
                    span dla swoich najbliższych
                p
                    span Skontaktuj się bezpośrednio z jedną z
                    span &#8194;60,000 zarejestrowanych
                    span &#8194;opiekunek
                .button.button_red ZNAJDŹ OPIEKUNKĘ