section.our-works#our-works
    .container
        .row
            .col-xl-5.mb-sm-5.mb-xl-0
                h2 Jak Działamy dla Poszukujących Opieki
            .col-xl-6.m-md-auto.m-xl-0.col-lg-9.col-md-10
                .our-works__item
                    .our-works__img
                        img(src='img/icon-1.png' alt='')
                    .our-works__description
                        h3 Search a Caregiver
                        p Ustalasz kryteria wyboru i wyszukujesz opiekuna z wymaganymi kwalifikacjami.
                .our-works__item
                    .our-works__description
                        h3 Select a Caregiver
                        p Decydujesz na podstawie weryfikacji profilu i opinii inyych osób o danej opiekunce. Nawiązujesz współpracę z wybraną osobą.
                    .our-works__img
                        img(src='img/icon-2.png' alt='')
                .our-works__item
                    .our-works__img
                        img(src='img/icon-3.png' alt='')
                    .our-works__description
                        h3 Test Period
                        p Opiekun rozpoczyna okres próbny i jeśli jesteście zadowoleni, zostaje na dłużej.
                .our-works__item
                    .our-works__description
                        h3 Pay after Start
                        p Opiekun dostaje wynagrodzenie dopiero po rozpoczęciu pracy. Po zakonczeniu współpracy wystawiasz opiekunowi opinię.
                    .our-works__img
                        img(src='img/icon-4.png' alt='')
            .col-auto.our-works__button
                .button ZNAJDŹ OPIEKUNKĘ