section.testimonials#testimonials
    .container
        .row
            .col
                h2 What do our Clients Say?
        .row.testimonials__container
            +testimonials('Aneta, 39l', 'Service provider', 'Moja mama zachorowała jakiś czas temu i nie jest już zupełnie samodzielna. Sama przestałam dawac radę zajmować się własnym domem ..', 'img/user-ava-1.jpg')
            +testimonials('Katarzyna, 51 lat', 'Client', 'estem zadowolona z korzystania z portalu. Nic mnie to nie kosztuje, a mam dostęp do ogłoszeń o pracy z Polski i zagraicy. Byłam już w pracy ..', 'img/user-ava-2.jpg')
            +testimonials('Aneta, 39l', 'Service provider', 'Moja mama zachorowała jakiś czas temu i nie jest już zupełnie samodzielna. Sama przestałam dawac radę zajmować się własnym domem ..', 'img/user-ava-1.jpg')
            +testimonials('Katarzyna, 51 lat', 'Client', 'estem zadowolona z korzystania z portalu. Nic mnie to nie kosztuje, a mam dostęp do ogłoszeń o pracy z Polski i zagraicy. Byłam już w pracy ..', 'img/user-ava-2.jpg')
            +testimonials('Aneta, 39l', 'Service provider', 'Moja mama zachorowała jakiś czas temu i nie jest już zupełnie samodzielna. Sama przestałam dawac radę zajmować się własnym domem ..', 'img/user-ava-1.jpg')
            +testimonials('Katarzyna, 51 lat', 'Client', 'estem zadowolona z korzystania z portalu. Nic mnie to nie kosztuje, a mam dostęp do ogłoszeń o pracy z Polski i zagraicy. Byłam już w pracy ..', 'img/user-ava-2.jpg')