@import 'libs';
@import 'fonts';
@import 'mixins';
@import 'sprites';

$main-color: #0b2a37;
$sub-color: #3b4256;
$accent-color: #8ae2e2;
$accent-color-2: #005173;
$accent-color-3: #ff5151;

*,
*::before,
*::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	color: $main-color;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	//font-family: MetaPro, sans-serif;
	font-weight: 900;
}

@import "blocks";
@import 'pages';